.Navbar .Wrapper {
  display: flex;
  background-color: white;
}
.Navbar .buttons {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-size: 16px;
	cursor: pointer;
	border: none;
	width: 8%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.Navbar .buttons:hover {
  background-color: #F77A6F;
}

.Navbar .buttons:focus {
    outline:none;
}

.Navbar .main-logo {
  width: 15%;
  height: 15%;
  padding: 15px;
  margin-right: 25px;
}
