button:focus {outline:0;}
button{
 outline: none !important;
}
.cpbox1 {
  color: #808080;
  width: 98%;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
}

.cpbox2 {
  width: 98%;
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.cpinnerbox1 {
  width: 80%;
}

.cpinnerbox2 {
  width: 20%;
}
.cpinner1 {
  color: #808080;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
  font-size: 20px;
}

.cpinner2 {
  background-color: white;
  margin-top: 2px;
  padding: 10px;
  display: flex;
}

.cpinner3 {
  background-color: white;
  margin-left: 25px;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
  font-size: 20px;
}

.cpinner4 {
  background-color: white;
  margin-left: 25px;
  margin-top: 2px;
  border-radius: 0px 0px 6px 6px;
  padding: 10px;
}

.userName {
  color: #808080;
  font-weight: 700;
  width: 20%;
}

.friendlyName {
  color: #808080;
  font-weight: 700;
  width: 20%;
}

.timeZone {
  color: #808080;
  font-weight: 700;
  width: 25%;
}

.role{
  color: #808080;
  font-weight: 700;
  width: 10%;
}

.edit{
  -webkit-appearance: none;
  color: #808080;
  font-weight: 700;
  height: 10px;
}

.deviceAssociation {
  color: #808080;
  font-weight: 700;
  width: 15%;
}

.userFields {
  background-color: white;
  padding: 10px;
  display: flex;
}

.w1 {
  width: 20%;
  color: #808080;
}

.w2 {
  width: 20%;
  color: #808080;
}

.w3 {
  width: 25%;
  color: #808080;
}

.w4 {
  width: 10%;
  color: #808080;
}

.w5 {
  width: 10%;
  color: #808080;
}

.w6 {
  width: 15%;
  color: #808080;
}

.wrench {
  height: 24px;
}

.firstHeader {
  padding: 5px;
}

.mgaMain {
  width: 98%;
  margin: auto;
  margin-top: 20px;
}

.mgaHeader1 {
  color: #808080;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
  font-size: 20px;
}

.mgaHeader2 {
  color: #808080;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 2px;
  display: flex;
}

.mgaHeader3 {
  background-color: white;
  margin-top: 2px;
}

.mgaUsername {
  width: 20%;
}

.mga3sub1 {
  display: flex;
}

.mgaTitle {
  color: #808080;
  padding: 15px 15px 15px 10px;
  font-size: 20px;
  width: 20%;
}

.addButton {
  border: none;
  border-radius: 4px 0px 0px 4px;
  color: white;
  background-color: #58C9F3;
  padding: 10px;
  font-size: 14px;
}

.editButton {
  border: none;
  color: white;
  background-color: #98D6EA;
  padding: 8px;
  font-size: 14px;
}

.deleteButton {
  border: none;
  color: white;
  background-color: #E8928D;
  padding: 8px;
  font-size: 14px;
}

.refreshButton {
  border: none;
  border-radius: 0px 4px 4px 0px;
  color: white;
  background-color: #42CAC0;
  padding: 8px;
  font-size: 14px;
}

.mga3sub2 {
  padding: 10px 10px 10px 0px;
  display: flex;
}

.mga3sub3 {
  padding: 10px;
  display: flex;
}

.device {
  font-size: 13px;
  font-weight: 500;
  width: 14%;
}

.fill {
  font-size: 13px;
  font-weight: 500;
  width: 6%;
}

.fill2 {
  font-size: 13px;
  font-weight: 500;
  width: 10%;
}

.fill3 {
  font-size: 13px;
  font-weight: 500;
  width: 8%;
}

.popupDiv {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

.addRecord {
  border-radius: 4px 4px 0px 0px;
  background-color: green;
}

.flex {
  display: flex;
}

.nextForm {
  font-size: 12px;
  padding: 4px;
  width: 21%;
  padding-bottom: 4px;
}

.modalSizing {
  width: 42vw !important;
}

.modalHeader {
  background-color: #00A8B3;
  border: none;
}

.modalTitle {
  font-weight: 300 !important;
  color: white;
}

.flex2 {
  display: flex;
  margin-top: 15px;
  height: 10%;
}


select:focus {
  outline: none;
}

.toggleBox {
  border-width: 2px;
  background-color: white;
  border-color: #F0F0F0;
  border-style: solid;
  border-radius: 5px;
  box-shadow: none;
  width: 90%;
  color: #757575;
  font-size: 14px;
}

.input {
  font-size: 14px;
}

.ModalButtonClose, .ModalButtonAdd {
  border: none;
  color: white;
  background-color: #42CAC0;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.ModalButtonClose {
  background-color: #C8C8C8;	
}
