.resetInner {
  position: absolute;
  width: 25%;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  top: 10%;
  left: 0;
  right: 0;
}

.forgotPassword {
  padding: 20px;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: #42CABF;
  border-radius: 5px 5px 0px 0px;
}

.resetInput {
  width: 90%;
  margin-top: 20px;
  padding: 8px;
  border-style: solid;
  border-radius: 5px;
  border-color: #F0F0F0;
  box-shadow: none;
  margin-left: 5%;
  margin-right: 5%;
}

.resetInput:focus {
  outline: 1px solid #AF0000 !important;
}

.submitButton {
  color: white;
  font-size: 20px;
  width: 90%;
  border: none;
  background-color: #F6796E;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
}

.bottomText {
  padding: 4%;
  display: flex;
  margin: auto;
  width: 80%;
}

.space {
  color: #42CAC0 !important;
  padding-left: 6px;
}

.space:hover {
  color: #808080 !important;
}

.resetToast {
  text-align: center;
  margin-top: 4%;
  width: 90%;
  background-color: #DFF0D8;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 6px;
}

.textToast {
  padding: 2%;
}
